*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
release.keystore
images/
fabric.properties
mobile/src/main/java/de/pajowu/twitwear/TwitWearApplication.java
