package de.pajowu.twitwear;

import android.support.multidex.MultiDexApplication;
import io.fabric.sdk.android.Fabric;
import com.twitter.sdk.android.Twitter;
import com.twitter.sdk.android.core.TwitterCore;
import com.twitter.sdk.android.tweetui.TweetUi;
import com.twitter.sdk.android.core.TwitterAuthConfig;
import com.crashlytics.android.Crashlytics;

public class TwitWearApplication extends MultiDexApplication {
    @Override
    public void onCreate() {
        super.onCreate();

        // Example: single kit
        TwitterAuthConfig authConfig =  new TwitterAuthConfig("", "");
        // Example: multiple kits
        Fabric.with(this, new TwitterCore(authConfig), new Crashlytics(), new TweetUi());
    }
}